body {
  font: 10px sans-serif;
}

.chart-box {
  border: 3px solid gray;
  overflow: hidden;
}


.tick line {
  stroke: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}

.hover-line {
  stroke: white;
  fill: none;
  stroke-width: 1px;
}
.domain {
  stroke-width: 3px;
  stroke: #FFCC66;
}

.connection{
  stroke:#FFCC66;
  fill: none;
}
.connection:hover {
  stroke: #ff9600;
  stroke-width: 3px;
}

.bar {
  fill: red;
}

.bar:hover {
  fill: red;
  width: 3px;
}

.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}