body {
  font: 10px sans-serif;
}

.chart-box {
  border: 3px solid gray;
  overflow: hidden;
}


.tick line {
  stroke: none;
  shape-rendering: crispEdges;
  stroke-dasharray: 5, 5;
}

.domain {
  stroke-width: 3px;
  stroke: #FFCC66;
}

.connection{
  fill: none;
}

.bar {
  stroke: red;
}

.brush .extent {
  stroke: gray;
  fill: blue;
  fill-opacity: .165;
}